footer.footer 
    .footer_logo 
        img(src='/img/logo-green.png', alt='Natours logo')
    ul.footer__nav 
        li 
            a(href='#') About us 
            a(href='#') Download apps
            a(href='#') Become a guide
            a(href='#') Careers 
            a(href='#') Contact
    p.footer__copyright &copy; by Romain Dubus. All rights reserved.
